.color-selector {
    border-radius: 999px;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        border: none;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: 999px;
    }
}
