.grid {
  display: var(--grid-display, grid);
  max-width: 492px;
  max-height: 804px;
  min-width: 76px;
  min-height: 492px;

  grid-template-columns: repeat(var(--grid-columns, 1), 76px);
  grid-template-rows: repeat(var(--grid-rows, 5), 76px);
  gap: var(--grid-gap, 28px);
}

.grid.hidden {
  display: none;
}

@media (min-height: 868px) {
  .grid.left {
    --grid-rows: 8;
  }
  .grid.center {
    --grid-rows: 8;
  }
  .grid.right {
    --grid-rows: 8;
  }
}

@media (max-width: 707px) {
  .grid.left {
    --grid-display: none;
  }
  .grid.center {
    --grid-columns: 3;
  }
}

@media (max-width: 915px) and (min-width: 708px) {
  .grid.left {
    --grid-display: none;
  }
  .grid.center {
    --grid-columns: 5;
  }
}

@media (max-width: 1275px) and (min-width: 916px) {
  .grid.left {
    --grid-display: none;
  }
  .grid.center {
    --grid-columns: 5;
  }
  .grid.right {
    --grid-columns: 3;
  }
}

@media (max-width: 1483px) and (min-width: 1276px) {
  .grid.left {
    --grid-columns: 3;
  }
  .grid.center {
    --grid-columns: 5;
  }
  .grid.right {
    --grid-columns: 3;
  }
}

@media (min-width: 1484px) {
  .grid.left {
    --grid-columns: 4;
  }
  .grid.center {
    --grid-columns: 5;
  }
  .grid.right {
    --grid-columns: 4;
  }
}

.grid.right {
  direction: rtl;
}
.grid.right > * {
  direction: ltr;
}
