body,
html {
  background-color: var(--secondary-color);
  scrollbar-gutter: stable;
}

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.grids-container {
  display: flex;
  align-items: center;
  position: relative;
  left: calc((100vw - 100%) / 2);
  justify-content: space-between;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  min-height: 492px;
  margin: 32px;
  margin-left: 27px;
  margin-right: 27px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000030;
  border-radius: 0 0 20px 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000050;
}
