.bookmarks-menu-shadow-1 {
  left: -14px;
  top: -14px;
  position: absolute;
  z-index: 2;
}
.bookmarks-menu-shadow {
  left: -14px;
  top: -118px;
  position: absolute;
  z-index: 2;
}

.bookmarks-list-separator {
  width: 4px;
  height: 90%;
  background-color: var(--separator-light-color);
  border-radius: 999px;
}
.folder-title {
  margin-bottom: 16px;
}

.bookmarks-list-expanded {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.bookmarks-left-houser {
  width: 46%;
  height: 100%;
}
.bookmarks-right-houser {
  width: 46%;
  height: 100%;
}

.actual-bookmarks-menu {
  background-color: var(--widget-background-color);
  min-width: 76px;
  min-height: 76px;
  width: 100%;
  height: 100.2%;
  border-radius: 26px;
  color: var(--text-color);
  position: absolute;
  z-index: 4;
  /*box-shadow: 0px 0px 0px 14px var(--highlight-color);*/
}

.menu-template {
  /*background-color: var(--widget-background-color);*/
  min-width: 76px;
  min-height: 76px;
  border-radius: 26px;
  /*color: var(--text-color);*/
  position: relative;
  /*box-shadow: 0px 0px 0px 14px var(--highlight-color);*/
}
