.customize-outer-container {
  height: 100%;
  padding: 0 16px;
}

.customize-box {
  width: 100%;
  min-height: 52px;
  background-color: var(--widget-background-inner-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0 20px;
  box-sizing: border-box;
}
.customize-box-large {
  width: 100%;
  min-height: 52px;
  background-color: var(--widget-background-inner-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //justify-content: space-between;
  border-radius: 16px;
  padding: 20px 0px;
  box-sizing: border-box;
  gap: 16px;
}

.setting-disabled{
  opacity: 0.5;
  cursor: auto !important;
}

.customize-subject-container-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customize-subject-title {
  font-size: 14px;
  margin-left: 8px;
}

.customize-subject-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customize-box-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.customize-box-separator {
  display: flex;
  flex-direction: column;
  width: 94%;
}

.customize-box-separator-dark {
  width: 100%;
  height: 1px;
  background-color: var(--separator-dark-color);
}

.customize-box-separator-light {
  width: 100%;
  height: 1px;
  background-color: var(--separator-light-color);
}


.generate-theme-button{
  height: 32px;
  background-color: var(--primary-color);
  color: var(--widget-text-color);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}