@font-face {
  font-family: "MPLUSRounded1c-Medium";
  src: url("./assets/fonts/MPLUSRounded1c-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
#root{
  width: 100vw;
}*/
body {
  margin: 0;
  font-family: "MPLUSRounded1c-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
