:root {
  --primary-color: #ffc15a;
  --secondary-color: #ffe9d1;
  --highlight-color: #f0dcc6;
  --widget-background-color: #232626;
  --widget-menu-highlight-color: #2e3030;
  --text-color: #ffffff;
  --placeholder-background-color: #e0ceb9;
  --widget-text-color: #000000;
  --widget-depth-color: #ffb539;
  --widget-inner-depth-color: #f3ae3c;
  --widget-inner-depth-wall-color: #d38c00;
  --separator-light-color: #404141;
  --separator-dark-color: #0d0e0e;
}

@font-face {
  font-family: "MPLUSRounded1c-Medium";
  src: url("./assets/fonts/MPLUSRounded1c-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MPLUSRounded1c-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
