.widget-template {
  background-color: var(--primary-color);
  min-width: 76px;
  min-height: 76px;
  border-radius: 26px;
  color: var(--text-color);
  z-index: 3;
  position: relative;
  /*box-shadow: 0px 0px 0px 14px #f0dcc6;*/
}

.widget-template:hover {
  box-shadow: 0px 0px 0px 14px var(--highlight-color);
}

.widget-template-buttons-container {
  border-radius: 99px;
  width: 26px;
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.widget-template-buttons {
  background-color: black;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  cursor: pointer;
}

.widget-template-buttons:hover {
  background-color: #2c2c2c;
}


.transparent-held-widget{
  opacity: 0.6;
  pointer-events: none;
}